{% extends 'base.html' %}
{% block title %}
    Detail ticket
{% endblock title %}

{% block content %}
    <h1>Detail ticket</h1>
    <h3>{{ checker_tickets.checker.title }}</h3>
    <p>{{ checker_tickets.checker.content }}</p>
    <img src="{{checker_tickets.checker.picture.url}}" alt="">
    <p>author: {{ checker_tickets.checker.author }}</p>

    <h4>send_to:</h4>
    <ul>
        {% for send_to in checker_tickets.checker.send_to.all %}
        <li>
            {{ send_to.username }}
        </li>
        {% endfor %}
    </ul>

    <h4>checker:</h4>
    <ul>
        {% for checker in checker_tickets.checker.checker.all %}
        <li>
            {{ checker.username }}
        </li>
        {% endfor %}
    </ul>
    <p>create: {{ checker_tickets.checker.create }}</p>
    <p>updated: {{ checker_tickets.checker.updated }}</p>
    <p>approve: {{ checker_tickets.approve }}</p>

{% endblock content %}