{% extends 'base.html' %}
{% block title %}
    list checker ticket
{% endblock title %}

{% block content %}
    <h1>Checker</h1>
    <h3>Checker List</h3>
    <table>
      <tr>
        <th>Ticket</th>
          <th>Approve</th>
        <th>Action</th>
      </tr>
        {% for checker_ticket in checker_tickets %}
      <tr>
        <td><a href="{% url 'ticket:detail-checker'  checker_ticket.pk %}">{{ checker_ticket.checker.title }}</a></td>
          <td><a href="{% url 'ticket:update-checker' checker_ticket.pk %}">{{ checker_ticket.approve }}</a></td>
        <td><a href="{% url 'ticket:update-ticket' checker_ticket.checker.pk %}">update</a>&nbsp;&nbsp;<a href="{% url 'ticket:update-info-checker' checker_ticket.checker.pk %}">info</a></td>
      </tr>
    {% endfor %}
    </table>

    <br><br>
    <a href="/dashboard/">back</a>

{% endblock content %}