{% extends 'base.html' %}
{% block title %}
    Update Ticket
{% endblock title %}

{% block content %}
    <h1>Update Ticket</h1>
    <h3>{{ title }}</h3>
    <p>info: {{ info }}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="info">info:</label><br>
        <input type="text" id="info" name="info"><br><br>
        <button type="submit">save</button>
    </form>
{% endblock content %}