{% extends 'base.html' %}
{% block title %}
    Detail ticket inbox
{% endblock title %}

{% block content %}
    <h1>Detail ticket inbox</h1>
    <h3>{{ inbox.checker.title }}</h3>
    <p>{{ inbox.checker.content }}</p>
    <img src="{{inbox.checker.picture.url}}" alt="">
    <p>author: {{ inbox.checker.author }}</p>
{% endblock content %}