{% extends 'base.html' %}
{% block title %}
    Inbox Tickets
{% endblock title %}

{% block content %}
    <h1>Inbox</h1>
    <table>
      <tr>
        <th>Ticket</th>
        <th>Status</th>
      </tr>
        {% for ticket in data_tickets %}
      <tr>
        <td><a href="{% url 'ticket:detail-inbox' ticket.pk %}">{{ ticket.checker.title }}</a></td>
          <td><a href="{% url 'ticket:update-inbox-status-ticket' ticket.checker.id %}">{{ ticket.checker.status_ticket }}</a></td>
      </tr>
    {% endfor %}
    </table>

    <br><br>
    <a href="/dashboard/">back</a>

{% endblock content %}