{% extends 'base.html' %}
{% block title %} Login {% endblock title %}

{% block content %}
    <p>msg : {{ msg }}</p>
    <form method="post">
    {% csrf_token %}
    {{ forms.as_p}}
    <button type="submit">login</button>
    </form>
    <br><br>
    <a href="register/">Register</a>
{% endblock content %}