{% extends 'base.html' %}
{% block title %} Register {% endblock title %}

{% block content %}
    <p>msg : {{ msg }}</p>
    <form method="post">
    {% csrf_token %}
    {{ forms.as_p}}
    <button type="submit">register</button>
    </form>
    <p>success: {{ success }}</p>
{% endblock content %}