{% extends 'base.html' %}
{% block title %}
    list tracker ticket
{% endblock title %}

{% block content %}
    <h1>Tracker</h1>
    <h3>Tracker List</h3>
    <table>
      <tr>
        <th>Ticket</th>
        <th>status_message</th>
        <th>status_ticket</th>
      </tr>

        {% for tracker_ticket in tracker_tickets %}
      <tr>
        <td><a href="{% url 'ticket:list-detail-tracker-ticket' tracker_ticket.pk %}">{{ tracker_ticket.checker.title }}</a></td>
        <td>
            {% if tracker_ticket.approve is True %}
                sent
            {% else %}
                waiting all Approve
            {% endif %}
        </td>
        <td>
            {% if tracker_ticket.checker.status_ticket is True %}
                ticket is done
            {% else %}
                in progress
            {% endif %}
        </td>
      </tr>
    {% endfor %}

    </table>

    <br><br>
    <a href="/dashboard/">back</a>

{% endblock content %}