{% extends 'base.html' %}
{% block title %}
    list ticket
{% endblock title %}

{% block content %}
    <h1>Ticket</h1>
    <h3>Tickets</h3>
    <table>
      <tr>
        <th>Checker</th>
        <th>Status</th>
        <th>Info</th>
      </tr>
        {% for tracker_ticket in tracker_tickets %}
      <tr>
        <td>{{ tracker_ticket.user.username }}</td>
        <td>
            {% if tracker_ticket.approve %}
                ticket is approved
            {% else %}
                ticket waiting approve
            {% endif %}
        </td>
        <td>
            {{ tracker_ticket.info }}
        </td>
      </tr>
    {% endfor %}
    </table>

    <br><br>
    <a href="/dashboard/">back</a>

{% endblock content %}