{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock title %}

{% block content %}
    <h1>Dashboard ticket</h1>
    <p>User : {{ request.user }}</p>
    <ul>
        <li><a href="inbox/">Inbox</a></li>
    </ul>
    <br>
    <ul>
        <li><a href="ticket/">Ticket</a></li>
        <li><a href="checker/">Checker</a></li>
        <li><a href="tracker/">Tracker</a></li>
    </ul>
    <br><br>
    <a href="/logout/">Logout</a>
{% endblock content %}