{% extends 'base.html' %}
{% block title %}
    Create Ticket
{% endblock title %}

{% block content %}
    <h1>Create Ticket</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">save</button>
    </form>
{% endblock content %}