{% extends 'base.html' %}
{% block title %}
    Delete Ticket
{% endblock title %}

{% block content %}
    <h1>Delete Ticket</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">yes</button>
        <a href={% url 'ticket:dashboard' %}>no</a>
    </form>
{% endblock content %}