{% extends 'base.html' %}
{% block title %}
    Detail ticket
{% endblock title %}

{% block content %}
    <h1>Detail ticket</h1>
    <h3>{{ ticket.title }}</h3>
    <p>{{ ticket.content }}</p>
    <img src="{{ticket.picture.url}}" alt="">
    <p>author: {{ ticket.author }}</p>

    <h4>send_to:</h4>
    <ul>
        {% for send_to in ticket.send_to.all %}
        <li>
            {{ send_to.username }}
        </li>
        {% endfor %}
    </ul>

    <h4>checker:</h4>
    <ul>
        {% for checker in ticket.checker.all %}
        <li>
            {{ checker.username }}
        </li>
        {% endfor %}
    </ul>
    <p>create: {{ ticket.create }}</p>
    <p>updated: {{ ticket.updated }}</p>

{% endblock content %}