{% extends 'base.html' %}
{% block title %}
    list ticket
{% endblock title %}

{% block content %}
    <h1>Ticket</h1>
    <li><a href="create/">Create New Ticket</a></li>
    <h3>Tickets</h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Action</th>
      </tr>
        {% for ticket in tickets %}
      <tr>
        <td><a href="{% url 'ticket:detail-ticket' ticket.pk %}">{{ ticket.title }}</a></td>
        <td><a href="{% url 'ticket:update-ticket' ticket.pk %}">update</a></td>
      </tr>
    {% endfor %}
    </table>

    <br><br>
    <a href="/dashboard/">back</a>

{% endblock content %}